
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}


/* #region Debug */

.debug * {
    border: 1px dashed red;
} 

.debug .in-header {
    min-height: 50px
}

.debug .symbols {
    min-height: 20px;
    min-width: 20%;
}

.debug .in-main {
    min-height: 500px;
}

.debug .card {
    height: 250px;
    width: 30%;
    background-color: bisque;
}

.debug .in-footer {
    min-height: 80px;
}

/* #endregion Debug */




/* #region Header */
header {
    background-color: rgb(237, 114, 46);
}

.in-header {
    justify-content: space-between;
    align-items: center;
}

/* Categorie */
.cat-links {
    gap: 7px;
    color: white;
}

.links {
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: white;
}


/*  Logo */
.c-logo {
    width: 20%;
}

#img-logo {
    width: 100%;
}

/* Simboli */
.symbols {
    justify-content: flex-end;
    gap: 7px;
}

.symbols > * {
    color: white;
}


/* #endregion Header */


/* #region Main*/
.in-main {
    margin: 10px auto;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 5px;
}
/* #endregion Main*/

/* #region Footer*/
footer {
    background-color: black; 
}
/* #endregion Footer*/
