
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}


/* #region Debug */

/* .debug * {
    border: 1px dashed red;
}  */

.debug .in-header {
    min-height: 50px
}

.debug .symbols {
    min-height: 20px;
    min-width: 20%;
}

.debug .in-main {
    min-height: 500px;
}

.debug .card {
    min-height: 245px;
    width: 32%;
    /* background-color: bisque; */
}

/* .debug .product-info {
  background-color: azure;
} */


.debug .in-footer {
    min-height: 80px;
}

/* #endregion Debug */




/* #region Header */
header {
    background-color: rgb(237, 114, 46);
}

.in-header {
    justify-content: space-between;
    align-items: center;
}

/* Categorie */
.cat-links {
    gap: 7px;
    color: white;
}

.links {
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: white;
}


/*  Logo */
.c-logo {
    width: 20%;
}

#img-logo {
    width: 100%;
}

/* Simboli */
.symbols {
    justify-content: flex-end;
    gap: 7px;
}

.symbols > * {
    color: white;
}


/* #endregion Header */


/* #region Main*/
.in-main {
    margin: 10px auto;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    position: relative;

}

.model, .model-hover {
    width: 100%;
}

/* Hover */

.model-hover {
    display: none;
    position: absolute;
    top: 0;
} 

.card:hover .model-hover{
    display: block;
}

/* Labels */
.heart-label {
    background-color: white;
    width: fit-content;
    padding: 3px; 
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1;
}

.gen-labels {
   position: absolute;
   bottom: 50px; 
   z-index: 1;
}

.gen-labels * {
    color: white;
    font-size: 8px;
    width: fit-content;
    padding: 2px; 
    margin-right: 2px;
}

.discount-percent {
    background-color: red;
    width: fit-content;
}

.sustainability {
    background-color: green;
}


/* Product's Info */
.product-info {
    height: 30px;
    margin-top: 0;
    flex-direction: column;
    position: relative;
    bottom: 4px;
}

.product-info > * {
    font-size: 8px;
}

.brand, .product-name {
    display: block;
}

.brand {
    font-size: 7px;
    color: grey;
}

.product-name {
    font-weight: 900;
}

.disc-price {
    font-weight: 600;
    color: red;
}

.orig-price {
    text-decoration: line-through;
}
/* #endregion Main*/

/* #region Footer*/
footer {
    background-color: black; 
}

.in-footer {
    justify-content: space-between;
    align-items: center;
}

.footer-flex {
    gap: 7px;
}

h4, h5 {
    color: white;
    margin-bottom: 8px;
}

.footer-links {
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.social-links > * {
    color: white;
}

/* #endregion Footer*/
